#print {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
}

div {
  font-family: "Helvetica Neue";
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

div:first-child {
  background-color: #db543c;
  grid-column: 1 / span 2;
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  color: white;
}

div:nth-child(2) {
  background-color: #4865ab;
  grid-column: 1;

  color: #fae6c6
}

div:nth-child(3) {
  grid-column: 2;
}

div:nth-child(4) {
  grid-column: 1 / span 2;
  border-top: 1px solid #767676;
}

div:nth-child(5) {
  background-color: #db543c;
  grid-column: 1 / span 2;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  color: white;
}

div:nth-child(6) {
  background-color: #4865ab;
  grid-column: 1;

  color: #fae6c6
}

div:nth-child(7) {
  grid-column: 2;
}

div:nth-child(8) {
  grid-column: 1 / span 2;
  border-top: 1px solid #767676;
}

div:nth-child(9) {
  background-color: #db543c;
  grid-column: 1 / span 2;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  color: white;
}

div:nth-child(10) {
  background-color: #4865ab;
  grid-column: 1;

  color: #fae6c6
}

div:nth-child(11) {
  grid-column: 2;
}

div:nth-child(12) {
  grid-column: 1 / span 2;
  border-top: 1px solid #767676;
}

div:nth-child(13) {
  background-color: #db543c;
  grid-column: 1 / span 2;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  color: white;
}

div:nth-child(14) {
  background-color: #4865ab;
  grid-column: 1;

  color: #fae6c6
}

div:nth-child(15) {
  grid-column: 2;
}

div:nth-child(16) {
  grid-column: 1 / span 2;
  border-top: 1px solid #767676;
}

div:nth-child(17) {
  background-color: #db543c;
  grid-column: 1 / span 2;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  color: white;
}

div:nth-child(18) {
  background-color: #4865ab;
  grid-column: 1;

  color: #fae6c6
}

div:nth-child(19) {
  grid-column: 2;
}

div:nth-child(20) {
  grid-column: 1 / span 2;
  border-top: 1px solid #767676;
}

strong {
  font-weight: bold;
  font-size: 17px;
}

em {
  opacity: 35%;
}

i {
  font-style: italic;
  font-size: 13px;
}
