#content, html, body {
    height: 100%;
    hyphens: none;
}

#splash {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* video */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  /* min-height: 100vh; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    background: none repeat scroll 0 0;
    color: white;
    mix-blend-mode: overlay;
    justify-content: center;
    align-items: center;
}

#intro {
	/* display: flex; */
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  line-height: 95%;
  padding: 25px;
}

span {
  font-weight: 300;


}
/* video */

p {
	font-family: 'Helvetica Neue';
}

u {
  text-decoration-line: underline;
  text-decoration-style: straight;
  text-decoration-color: red;
}


#left {
    float: left;
    width: 50%;
    background: red;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 50%;
    background: blue;
    height: 100%;
    overflow: scroll;
}
